@media only screen and (min-width: 40rem) {
  header,
  main,
  nav,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

/************************** NAVIGATION **************************/
  nav {
    position: static;
   }
   
   nav li {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }



} /* end media query */
