/* -------------- COLOR SCHEME --------------- */
:root {
  --color-primary: #f3a100;
  --color-secondary: #54a6bc;
  /* Add a grey scale Colors */
  --color-mygrey-0: lab(100% 0 0);
  --color-mygrey-5: lab(95% 0 0);
  --color-mygrey-10: lab(90% 0 0);
  --color-mygrey-20: lab(80% 0 0);
  --color-mygrey-30: lab(70% 0 0);
  --color-mygrey-40: lab(60% 0 0);
  --color-mygrey-50: lab(50% 0 0);
  --color-mygrey-60: lab(40% 0 0);
  --color-mygrey-70: lab(30% 0 0);
  --color-mygrey-80: lab(20% 0 0);
  --color-mygrey-90: lab(10% 0 0);
  --color-mygrey-100: lab(0% 0 0);
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

/************************** HEADER **************************/
header {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template-columns: 25px auto 44px;
  column-gap: 8px;
  align-items: end;
  border-bottom: 1px solid var(--color-mygrey-10);
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-secondary);
}

/************************** NAVIGATION **************************/
nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--color-secondary);
}
nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
nav img {
  width: 22px;
  height: 22px;
  
}
nav a {
  display: block;
  text-align: center;
  font-size: .7rem;
  font-weight: 300;
  color: var(--color-mygrey-0);
  text-decoration: none;
  padding: 0.6rem 10px;
}


nav li.active {
  background-color: var(--color-primary);
}



/************************** MAIN LAYOUT **************************/

h1 {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 200;
}

.hero {
  display: block;
  width: 100%;
  height: auto;
}
/************************** FORM STYLING **************************/
.sizes {
  margin: 1rem 10px;
  max-width: 400px;
}
.sizes label {
  display: block;
  margin-bottom: 1rem;
  font-size: .8rem;
  color: var(--color-mygrey-70);
}
.sizes input[type="number"], .sizes select {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: .6rem 10px;
  border: 1px solid var(--color-mygrey-20);
  box-shadow: 0 0 10px var(--color-mygrey-10);
  border-radius: 4px;
}
.sizes button {
  font-size: 1rem;
  width: 100%;
  padding: .6rem 10px;
  border: 1px solid var(--color-mygrey-20);
  box-shadow: 0 0 10px var(--color-mygrey-10);
  border-radius: 4px;
  background-color: var(--color-primary);
}

/************************** RESULTS STYLING **************************/
.results {
  margin: 1rem 10px;
  max-width: 400px;
}
.results h2 {
  margin: .5rem 0 0 0;
  color: var(--color-secondary);
}
.results ul {
  margin: 0;
  padding-left: 25px;
  color: var(--color-mygrey-70);
  line-height: 150%;
}
.results li {
  list-style-type: "\002611";
  &::marker {
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}
.results p {
  font-size: .8rem;
  color: var(--color-mygrey-50);
}







/************************** SOCIAL MEDIA **************************/
.social {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 1rem;
}

.social a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-mygrey-10);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--color-mygrey-0);
}

/************************** FOOTER **************************/
footer {
  background-color: var(--color-mygrey-80);
  color: var(--color-mygrey-5);
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-mygrey-30);
}
